<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.uts_dandisuagira">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Syntax5"></activity>
        <activity android:name=".Syntax4" />
        <activity android:name=".Syntax3" />
        <activity android:name=".Syntax2" />
        <activity android:name=".Syntax1" />
        <activity android:name=".Komponen5" />
        <activity android:name=".Komponen4" />
        <activity android:name=".Komponen3" />
        <activity android:name=".Komponen2" />
        <activity android:name=".Komponen1" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>